<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>pcrecipes.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/pc_recipes_temp/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MainPageJSP</servlet-name>
    <jsp-file>/WEB-INF/PC_Recipes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageJSP</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>pcrecipes.servlet.SearchServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddRecipeServlet</servlet-name>
    <servlet-class>pcrecipes.servlet.RecipeManager</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>AddRecipeServlet</servlet-name>
    <url-pattern>/AddRecipe</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RecipeManagerJSP</servlet-name>
    <jsp-file>/WEB-INF/AddRecipeForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecipeManagerJSP</servlet-name>
    <url-pattern>/AddRecipeForm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
		<servlet-name>RecipePageServlet</servlet-name>
		<url-pattern>/RecipePage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecipePageServlet</servlet-name>
		<jsp-file>/WEB-INF/recipe.jsp</jsp-file>
	</servlet>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Main</welcome-file>
  </welcome-file-list>



</web-app>
