/*
* {
	border: 1px solid black;
}*/
html {
	direction: rtl;
}

body {
	font-family: Arial, Garamond, Times, Serif;
	background-color: #FBEFF2
}

#header img {
	border-top-left-radius: 15px;
	border: 2px solid #3c4543;
	height: 81px;
}

#menu a {
	color: #ffffff;
	text-decoration: none;
}

#mainFrame {
	position: relative;
	float: center;
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

#mainFrame p {
	font-family: Arial, Garamond, Times, Serif;
	font-size: 20px;
}

#mainFrame h1 {
	font-family: Arial, Garamond, Times, Serif;
	font-size: 50px;
}

#mainFrame h2 {
	font-family: Arial, Garamond, Times, Serif;
	font-size: 40px;
}

#headerRight {
	float: right;
}

#headerCenter {
	float: center;
}

#headerLeft {
	float: Left;
}

.tipQ {
	font-family: Arial, Garamond, Times, Serif;
	font-weight: bold;
	font-size: 20px;
}

.tipQEm {
	color: orange;
}

#menu {
	padding-top: 8px;
}

#menu ul li {
	top: 15px;
	font-size: 25px;
	margin: 10px 10px 10px 5px;
	padding: 10px 10px 15px 10px;
}
/*
#menu1 {
	padding-top: 8px;
}

#menu1 ul li {
	top: 15px;
	font-size: 30px;
	margin: 10px 10px 10px 5px;
	padding: 10px 10px 15px 10px;
}

#menu1 li {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #9e191e;
}

#menu1 a {
	color: #ffffff;
	text-decoration: none;
}
*/
#header {
	position: relative;
	background-color: #3c4543;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	height: 85px;
}

#header2 {
	position: relative;
	background-color: #9e191e;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 40px;
}

#mainFrameQuestion questions {
	hight: 40%;
}

#mainFrameQuestion ul {
	font-size: 25px;
	list-style-type: none;
}

#menu li {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #9e191e;
}

#menu li a {
	text-decoration: none;
}

#menu li a:link {
	color: #ffffff;
}

#menu li a:visited {
	color: #ffffff;
}

#menu li a:hover {
	color: #f68b1f;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#search {
	float: right;
	display: inline;
	color: #ffffff;
	margin-top: 8px;
	margin-right: 10px
}

#search button {
	display: inline;
}

#search form {
	font-size: 16px;
	color: white;
	font-family: Verdana, Arial, Sans-Serif;
	display: inline;
	width: 30%;
}

#pRecipe {
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

#addProduct {
	float: right;
	display: inline;
	margin-top: 8px;
	margin-right: 10px
	padding-top: 2px;
	float: right;
	width: 20%;
}


#addProduct button {
	display: inline;
}

#addProduct form {
	font-size: 16px;
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	display: inline;
	width: 30%;
}

#footer {
	clear: both;
	position: relative;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: auto;
	height: 75px;
	background-color: #3c4543
}

#footer2 {
	clear: both;
	position: relative;
	background-color: #9e191e;
	margin: auto;
	margin-top: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	height: 30px;
}

iframe {
	right: 30%;
	position: relative;
}

#contact_us {
	position: relative;
	height: 370px;
	width: 500px;
	border: 2px solid black;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px;
	text-align: right;
}

#contact_us p {
	text-align: right;
	font-size: 16px;
}

#mainFrameQuestion {
	position: relative;
	display: inline;
	float: right;
	margin-top: 10px;
	width: 38%;
	border-right: 1px solid #9e191e;
	border-left: 1px solid #9e191e;
}

#mainFrameResults {
	position: relative;
	display: inline;
	float: left;
	margin-top: 10px;
	width: 38%;
}

#questions {
	float: left;
	width: 50%;
}



#ansr1,#ansr2,#ansr3,#ansr4,#ansr5 {
	font-family: Arial, Garamond, Times, Serif;
	border-radius: 5px;
	margin: 5px 10px 15px 20px;
	padding: 5px;
	background-color: #9e191e;
	color: #FFFFFF;
	text-align: center;
	align: right;
}

#answer {
	position: relative;
	margin-top: 10px;
}

#mainFrameResults a {
	text-decoration: none;
}

#mainFrameResults a:link {
	color: #000000;
}

#mainFrameResults a:visited {
	color: #000000;
}

#mainFrameResults a:hover {
	color: #9e191e;
}

.item,#RecipesView {
	font-family: Arial, Garamond, Times, Serif;
	font-size: 1em;
	font-weight: bold;
	text-indent: 15px;
	color: #9e191e;
}
#RecipesView {
text-indent: 50px;
}
hr {
	color: #9e191e;
	background-color: #9e191e;
	height: 1px;
	border: 0;
	width: 90%;
	align:center;
}