<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>pcrecipes.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/pc_recipes_temp/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainPageJSP</servlet-name>
		<jsp-file>/WEB-INF/PC_Recipes.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainPageJSP</servlet-name>
		<url-pattern>/Main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FirstLoadServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.FirstLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstLoadServlet</servlet-name>
		<url-pattern>/FirstLoad</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FilterRecipeByProdServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.FilterRecipeByProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterRecipeByProdServlet</servlet-name>
		<url-pattern>/FilterRecipeByProd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IntersectionServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.IntersectionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IntersectionServlet</servlet-name>
		<url-pattern>/Intersection</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddRecipeServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.RecipeManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRecipeServlet</servlet-name>
		<url-pattern>/AddRecipe</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecipeUserServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.RecipeUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipeUserServlet</servlet-name>
		<url-pattern>/RecipeUser</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddMessageServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.AddMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMessageServlet</servlet-name>
		<url-pattern>/AddMessage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchProdInDBServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.SearchProdInDBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchProdInDBServlet</servlet-name>
		<url-pattern>/SearchProdInDB</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DisplayQuestionServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.DisplayQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayQuestionServlet</servlet-name>
		<url-pattern>/DisplayQuestion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FilterRecipeNameServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.FilterRecipeNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterRecipeNameServlet</servlet-name>
		<url-pattern>/FilterRecipeName</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FilterByCategoryServlet</servlet-name>
		<servlet-class>pcrecipes.servlet.FilterByCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FilterByCategoryServlet</servlet-name>
		<url-pattern>/FilterByCategory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecipeManagerJSP</servlet-name>
		<jsp-file>/WEB-INF/AddRecipeForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipeManagerJSP</servlet-name>
		<url-pattern>/AddRecipeForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecipeUserJSP</servlet-name>
		<jsp-file>/WEB-INF/AddRecipeUser.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipeUserJSP</servlet-name>
		<url-pattern>/AddRecipeUser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RecipePageJSP</servlet-name>
		<url-pattern>/RecipePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecipePageJSP</servlet-name>
		<jsp-file>/WEB-INF/recipe.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ContactUsJSP</servlet-name>
		<url-pattern>/ContactUs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ContactUsJSP</servlet-name>
		<jsp-file>/WEB-INF/ContactUs.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>AboutJSP</servlet-name>
		<url-pattern>/About</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AboutJSP</servlet-name>
		<jsp-file>/WEB-INF/About.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelpJSP</servlet-name>
		<url-pattern>/Help</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HelpJSP</servlet-name>
		<jsp-file>/WEB-INF/Help.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MyAccountJSP</servlet-name>
		<url-pattern>/MyAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyAccountJSP</servlet-name>
		<jsp-file>/WEB-INF/MyAccount.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TipsJSP</servlet-name>
		<url-pattern>/Tips</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TipsJSP</servlet-name>
		<jsp-file>/WEB-INF/Tips.jsp</jsp-file>
	</servlet>

	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Main</welcome-file>
	</welcome-file-list>



</web-app>
